pkgbase = nordvpn-gui
	pkgdesc = A GUI for controlling NordVPN from the system tray
	pkgver = 1.0.0
	pkgrel = 1
	url = https://github.com/tiagomanoel/nordvpn-gui
	arch = any
	license = MIT
	depends = python
	depends = python-pyqt5
	depends = nordvpn-bin
	source = nordvpn-gui-1.0.0.tar.gz::https://github.com/tiagomanoel/nordvpn-gui/archive/refs/tags/v1.0.0.tar.gz
	sha256sums = SKIP

pkgname = nordvpn-gui
